<a href="https://colab.research.google.com/github/BawejaMoksh/BawejaMoksh/blob/main/TripAdvisor(ITC_Maurya)_Review_Sentiment_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1><b>Sentiment Analysis of Trip Advisor review through TextBlob model

In [2]:
import requests as rq
import pandas as pd
import numpy as np

In [3]:
from bs4 import BeautifulSoup

In [9]:
r = rq.get('https://www.tripadvisor.in/Hotel_Review-g304551-d301777-Reviews-ITC_Maurya-New_Delhi_National_Capital_Territory_of_Delhi.html')

In [10]:
r.status_code

200

In [13]:
soup = BeautifulSoup(r.text,'html.parser')

In [14]:
spans = soup.findAll(class_='QewHA H4 _a')

In [15]:
reviews = []
for span in spans:
  reviews.append(span.find('span').text)

In [16]:
print(reviews,'\n')

['I have been staying at the ITC Maurya for nearly 20 years now and have always been amazed by the hospitality, grand welcome, and warmth of the staff. It was no different this time as I arrived to an amazing welcome by the very versatile concierge, Narender, and the ever-smiling Garima. The level of security provided makes guests like me feel very safe', 'The entry of ITC maurya is soon beautifully ade by the horticulture staff,it really makes the hotel stay out as compared to ay other hotel in delhi,also as we cow in the lobby is full of lively staff who have said which is infectious, also the paintings make the beauty more enhanced,as we get to our rooms,the room amenities is world class,the IRD splly Siddhartha is very quick with service,we see garam always smiling and never have any tension o her face,even u she is dealing with 100 guests,then I must say that chef vaibhav is great with understanding our requirements, thaku to GM and HM to have such spl staff to lok after us so well', 'The  description for IRC maurya is  Care Love Humble Hospitality  Empathy  Security Cleanliness Delicious food Location Maurya is maurya Name is enough ITC is a brand whose name is just enough to tell what  we can look forward for', "Thanku for the humble and unbeatable hospitality rendered to us during our entire stay,the most beneficial factor of staying in ITC maurya is the location and the security it provides,on to that the food is sooo yummy that we just can't get enough beat it any out let", 'I reallu cherish the stay as its a very safe and a pleasant place to stay alao tge food ia remarkable its apleasire to the wye anx also to the taste glands,lobby is soo impeccabaly decorated with beautiful art piece,its one time stay and will surwly recomend', 'Our Chef Mr.Ashish and our lovely waitress Aarushi made sure we had an amazing time. It was a stellar culinary experience. Our expectations with the hotel have been surpassed. The entire staff of the pavilion is very sweet and polite.  Thank you Aarushi for the great time.', 'The sleep shop has various things to offer and which is very comfortable also the garden nandiya is very well taken care off,cheff sumeet take very good care of the needs of the guest also love fabelle as they have pur chocolates with nothing which can harm the body,great ITC maurya', 'Love the surroundings and the location of the hotel is very reachable to all the places near by,at buffet during breakfast at pavilion,they have lot of variety,rooms are very clean,the bell desk guy Mikesh was very helpful in looking after our bags,', "Me and my family came to celebrate my son's birthday and also our anniversary, we were been well taken care of, the decoration done by gurudutt in housekeeping was phinominal, also we love the cake organised for us, thanku ITC for making our memories full of happiness and affection", 'Had to visit Delhi for a family event and stayed here. The hotel was a great choice! Friendly staff, very clean premises, very secure (with lots of security), amazing food (shout outs to chef Surya in the pavilion and chef quershi in Dum Phukt). Very convenient location to visit any part of NCR relatively easily.   Strongly recommend! ']

In [17]:
df = pd.DataFrame(np.array(reviews),columns =['review'])

In [18]:
df.head()

                                              review
0  I have been staying at the ITC Maurya for near...
1  The entry of ITC maurya is soon beautifully ad...
2  The  description for IRC maurya is  Care Love ...
3  Thanku for the humble and unbeatable hospitali...
4  I reallu cherish the stay as its a very safe a...

In [19]:
len(df['review'])

10

In [20]:
df['review'].apply(lambda x: len(x.split()))

0     63
1    117
2     39
3     48
4     47
5     47
6     51
7     42
8     49
9     57
Name: review, dtype: int64

In [21]:
df['review'].apply(lambda x: len(x))

0    353
1    642
2    230
3    267
4    258
5    273
6    283
7    249
8    282
9    337
Name: review, dtype: int64

<h1><b>Data Analysis

In [22]:
df['word_count']= df['review'].apply(lambda x: len(x.split()))

In [23]:
df['char_count'] = df['review'].apply(lambda x: len(x))

In [24]:
df.head()

                                              review  word_count  char_count
0  I have been staying at the ITC Maurya for near...          63         353
1  The entry of ITC maurya is soon beautifully ad...         117         642
2  The  description for IRC maurya is  Care Love ...          39         230
3  Thanku for the humble and unbeatable hospitali...          48         267
4  I reallu cherish the stay as its a very safe a...          47         258

In [25]:
def avg_word(x):
  word = x.split()
  return sum(len(w) for w in word)/len(word)

In [26]:
df['avg_charl'] = df['review'].apply(lambda x:avg_word(x))
df.head()

,review,word_count,char_count,avg_charl
0,I have been staying at the ITC Maurya for near...,63,353,4.619048
1,The entry of ITC maurya is soon beautifully ad...,117,642,4.495726
2,The description for IRC maurya is Care Love ...,39,230,4.794872
3,Thanku for the humble and unbeatable hospitali...,48,267,4.583333
4,I reallu cherish the stay as its a very safe a...,47,258,4.510638

In [28]:
from nltk.corpus import stopwords

In [29]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [30]:
st_w = stopwords.words('english')

In [31]:
st_w

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [32]:
df['review'].apply(lambda x: len(([w for w in x.split() if w.lower() in st_w])))

0    32
1    52
2    14
3    24
4    18
5    23
6    22
7    21
8    21
9    20
Name: review, dtype: int64

In [33]:
df['stop_word_count'] = df['review'].apply(lambda x: len(([w for w in x.split() if w.lower() in st_w])))

In [34]:
df['stop_word_rate']=df['stop_word_count']/df['word_count']

In [35]:
df.head()

,review,word_count,char_count,avg_charl,stop_word_count,stop_word_rate
0,I have been staying at the ITC Maurya for near...,63,353,4.619048,32,0.507937
1,The entry of ITC maurya is soon beautifully ad...,117,642,4.495726,52,0.444444
2,The description for IRC maurya is Care Love ...,39,230,4.794872,14,0.358974
3,Thanku for the humble and unbeatable hospitali...,48,267,4.583333,24,0.500000
4,I reallu cherish the stay as its a very safe a...,47,258,4.510638,18,0.382979

In [36]:
df.sort_values(by='stop_word_rate')

,review,word_count,char_count,avg_charl,stop_word_count,stop_word_rate
9,Had to visit Delhi for a family event and stay...,57,337,4.877193,20,0.350877
2,The description for IRC maurya is Care Love ...,39,230,4.794872,14,0.358974
4,I reallu cherish the stay as its a very safe a...,47,258,4.510638,18,0.382979
8,Me and my family came to celebrate my son's bi...,49,282,4.775510,21,0.428571
6,The sleep shop has various things to offer and...,51,283,4.568627,22,0.431373
1,The entry of ITC maurya is soon beautifully ad...,117,642,4.495726,52,0.444444
5,Our Chef Mr.Ashish and our lovely waitress Aar...,47,273,4.808511,23,0.489362
3,Thanku for the humble and unbeatable hospitali...,48,267,4.583333,24,0.500000
7,Love the surroundings and the location of the ...,42,249,4.952381,21,0.500000
0,I have been staying at the ITC Maurya for near...,63,353,4.619048,32,0.507937

In [37]:
df.describe()

       word_count  char_count  avg_charl  stop_word_count  stop_word_rate
count   10.000000   10.000000  10.000000        10.000000       10.000000
mean    56.000000  317.400000   4.698584        24.700000        0.439452
std     22.499383  120.097368   0.162124        10.635893        0.059845
min     39.000000  230.000000   4.495726        14.000000        0.350877
25%     47.000000  260.250000   4.572304        20.250000        0.394377
50%     48.500000  277.500000   4.697279        21.500000        0.437908
75%     55.500000  323.500000   4.805101        23.750000        0.497340
max    117.000000  642.000000   4.952381        52.000000        0.507937

<h1><b>Data Cleaning

In [44]:
df['lower_review']=df['review'].apply(lambda x: x.lower())

In [46]:
df['punctuation']=df['lower_review'].str.replace('[^\w\s]','')

<ipython-input-46-26aa344d3019>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['punctuation']=df['lower_review'].str.replace('[^\w\s]','')

In [48]:
df['stopword']=df['punctuation'].apply(lambda x: " ".join(word for word in x.split() if word not in st_w))

In [56]:
pd.Series(' '.join(df['stopword']).split()).value_counts()[:35]

maurya         7
itc            6
also           6
hotel          5
staff          5
stay           4
security       4
location       4
food           4
time           4
love           4
chef           4
care           4
well           3
enough         3
amazing        3
hospitality    3
great          3
us             3
entire         2
thanku         2
full           2
humble         2
name           2
family         2
get            2
pavilion       2
taken          2
visit          2
staying        2
safe           2
welcome        2
aarushi        2
makes          2
always         2
dtype: int64

In [57]:
other_st_w = ['also','us','entire','get','always','reallu','enough']

In [58]:
df['clean'] = df['stopword'].apply(lambda x: " ".join(w for w in x.split() if w not in other_st_w))

In [60]:
df.head()

,review,word_count,char_count,avg_charl,stop_word_count,stop_word_rate,lower_review,punctuation,stopword,clean
0,I have been staying at the ITC Maurya for near...,63,353,4.619048,32,0.507937,i have been staying at the itc maurya for near...,i have been staying at the itc maurya for near...,staying itc maurya nearly 20 years always amaz...,staying itc maurya nearly 20 years amazed hosp...
1,The entry of ITC maurya is soon beautifully ad...,117,642,4.495726,52,0.444444,the entry of itc maurya is soon beautifully ad...,the entry of itc maurya is soon beautifully ad...,entry itc maurya soon beautifully ade horticul...,entry itc maurya soon beautifully ade horticul...
2,The description for IRC maurya is Care Love ...,39,230,4.794872,14,0.358974,the description for irc maurya is care love ...,the description for irc maurya is care love ...,description irc maurya care love humble hospit...,description irc maurya care love humble hospit...
3,Thanku for the humble and unbeatable hospitali...,48,267,4.583333,24,0.500000,thanku for the humble and unbeatable hospitali...,thanku for the humble and unbeatable hospitali...,thanku humble unbeatable hospitality rendered ...,thanku humble unbeatable hospitality rendered ...
4,I reallu cherish the stay as its a very safe a...,47,258,4.510638,18,0.382979,i reallu cherish the stay as its a very safe a...,i reallu cherish the stay as its a very safe a...,reallu cherish stay safe pleasant place stay a...,cherish stay safe pleasant place stay alao tge...

<h1><b>Lemmatizing of Data

In [64]:
import textblob
from textblob import Word
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...

True

In [65]:
df['clean'].apply(lambda x: " ".join(Word(w).lemmatize() for w in x.split()))

0    staying itc maurya nearly 20 year amazed hospi...
1    entry itc maurya soon beautifully ade horticul...
2    description irc maurya care love humble hospit...
3    thanku humble unbeatable hospitality rendered ...
4    cherish stay safe pleasant place stay alao tge...
5    chef mrashish lovely waitress aarushi made sur...
6    sleep shop various thing offer comfortable gar...
7    love surroundings location hotel reachable pla...
8    family came celebrate son birthday anniversary...
9    visit delhi family event stayed hotel great ch...
Name: clean, dtype: object

In [66]:
df.head()

,review,word_count,char_count,avg_charl,stop_word_count,stop_word_rate,lower_review,punctuation,stopword,clean
0,I have been staying at the ITC Maurya for near...,63,353,4.619048,32,0.507937,i have been staying at the itc maurya for near...,i have been staying at the itc maurya for near...,staying itc maurya nearly 20 years always amaz...,staying itc maurya nearly 20 years amazed hosp...
1,The entry of ITC maurya is soon beautifully ad...,117,642,4.495726,52,0.444444,the entry of itc maurya is soon beautifully ad...,the entry of itc maurya is soon beautifully ad...,entry itc maurya soon beautifully ade horticul...,entry itc maurya soon beautifully ade horticul...
2,The description for IRC maurya is Care Love ...,39,230,4.794872,14,0.358974,the description for irc maurya is care love ...,the description for irc maurya is care love ...,description irc maurya care love humble hospit...,description irc maurya care love humble hospit...
3,Thanku for the humble and unbeatable hospitali...,48,267,4.583333,24,0.500000,thanku for the humble and unbeatable hospitali...,thanku for the humble and unbeatable hospitali...,thanku humble unbeatable hospitality rendered ...,thanku humble unbeatable hospitality rendered ...
4,I reallu cherish the stay as its a very safe a...,47,258,4.510638,18,0.382979,i reallu cherish the stay as its a very safe a...,i reallu cherish the stay as its a very safe a...,reallu cherish stay safe pleasant place stay a...,cherish stay safe pleasant place stay alao tge...

<h1><b>Sentiment Analysis

In [68]:
from textblob import TextBlob

In [72]:
df['polarity']=df['clean'].apply(lambda x: TextBlob(x).sentiment[0])

In [73]:
df['subjectivity']=df['clean'].apply(lambda x: TextBlob(x).sentiment[1])

In [74]:
df.head()

,review,word_count,char_count,avg_charl,stop_word_count,stop_word_rate,lower_review,punctuation,stopword,clean,polarity,subjectivity
0,I have been staying at the ITC Maurya for near...,63,353,4.619048,32,0.507937,i have been staying at the itc maurya for near...,i have been staying at the itc maurya for near...,staying itc maurya nearly 20 years always amaz...,staying itc maurya nearly 20 years amazed hosp...,0.471429,0.742857
1,The entry of ITC maurya is soon beautifully ad...,117,642,4.495726,52,0.444444,the entry of itc maurya is soon beautifully ad...,the entry of itc maurya is soon beautifully ad...,entry itc maurya soon beautifully ade horticul...,entry itc maurya soon beautifully ade horticul...,0.362338,0.523810
2,The description for IRC maurya is Care Love ...,39,230,4.794872,14,0.358974,the description for irc maurya is care love ...,the description for irc maurya is care love ...,description irc maurya care love humble hospit...,description irc maurya care love humble hospit...,0.433333,0.666667
3,Thanku for the humble and unbeatable hospitali...,48,267,4.583333,24,0.500000,thanku for the humble and unbeatable hospitali...,thanku for the humble and unbeatable hospitali...,thanku humble unbeatable hospitality rendered ...,thanku humble unbeatable hospitality rendered ...,-0.200000,0.400000
4,I reallu cherish the stay as its a very safe a...,47,258,4.510638,18,0.382979,i reallu cherish the stay as its a very safe a...,i reallu cherish the stay as its a very safe a...,reallu cherish stay safe pleasant place stay a...,cherish stay safe pleasant place stay alao tge...,0.708333,0.804167

In [75]:
df.describe()

,word_count,char_count,avg_charl,stop_word_count,stop_word_rate,polarity,subjectivity
count,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
mean,56.000000,317.400000,4.698584,24.700000,0.439452,0.391650,0.600813
std,22.499383,120.097368,0.162124,10.635893,0.059845,0.234667,0.131197
min,39.000000,230.000000,4.495726,14.000000,0.350877,-0.200000,0.400000
25%,47.000000,260.250000,4.572304,20.250000,0.394377,0.371753,0.505952
50%,48.500000,277.500000,4.697279,21.500000,0.437908,0.430952,0.611706
75%,55.500000,323.500000,4.805101,23.750000,0.497340,0.489732,0.689583
max,117.000000,642.000000,4.952381,52.000000,0.507937,0.708333,0.804167

In [76]:
df.drop(['lower_review','punctuation','stopword','clean'],axis=1,inplace = True)

In [77]:
df.head()

,review,word_count,char_count,avg_charl,stop_word_count,stop_word_rate,polarity,subjectivity
0,I have been staying at the ITC Maurya for near...,63,353,4.619048,32,0.507937,0.471429,0.742857
1,The entry of ITC maurya is soon beautifully ad...,117,642,4.495726,52,0.444444,0.362338,0.523810
2,The description for IRC maurya is Care Love ...,39,230,4.794872,14,0.358974,0.433333,0.666667
3,Thanku for the humble and unbeatable hospitali...,48,267,4.583333,24,0.500000,-0.200000,0.400000
4,I reallu cherish the stay as its a very safe a...,47,258,4.510638,18,0.382979,0.708333,0.804167

In [79]:
df.sort_values(by='polarity')

,review,word_count,char_count,avg_charl,stop_word_count,stop_word_rate,polarity,subjectivity
3,Thanku for the humble and unbeatable hospitali...,48,267,4.583333,24,0.500000,-0.200000,0.400000
7,Love the surroundings and the location of the ...,42,249,4.952381,21,0.500000,0.300000,0.500000
1,The entry of ITC maurya is soon beautifully ad...,117,642,4.495726,52,0.444444,0.362338,0.523810
6,The sleep shop has various things to offer and...,51,283,4.568627,22,0.431373,0.400000,0.625000
5,Our Chef Mr.Ashish and our lovely waitress Aar...,47,273,4.808511,23,0.489362,0.428571,0.598413
2,The description for IRC maurya is Care Love ...,39,230,4.794872,14,0.358974,0.433333,0.666667
0,I have been staying at the ITC Maurya for near...,63,353,4.619048,32,0.507937,0.471429,0.742857
9,Had to visit Delhi for a family event and stay...,57,337,4.877193,20,0.350877,0.495833,0.697222
8,Me and my family came to celebrate my son's bi...,49,282,4.775510,21,0.428571,0.516667,0.450000
4,I reallu cherish the stay as its a very safe a...,47,258,4.510638,18,0.382979,0.708333,0.804167

By the looks of this it shows 9/10 accurate results and the reason is simply that reviews had spelling mistakes which was not accounted for,secondly machine is unable to understand sarcasm and hidden meaning to message